<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: html_head(headTitle = 'Checkout')"></head>

<body>
<th:block th:replace="fragments/header :: navbar"></th:block>

    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Thanh toán</li>
                            </ol>
                        </nav>
                    </div>
                    <div id="checkout" class="col-lg-8">
                        <div class="box">
                            <form th:action="@{/invoice/save}" th:object="${invoice}" method="POST">
                                <h1>Thông tin người nhận</h1>
                                <div class="content py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div th:if="${#fields.hasErrors('recipientLastName')}" th:errors="*{recipientLastName}"
                                                     class="alert alert-danger" role="alert">Error Message
                                                </div>
                                                <label for="lastname">Họ:</label>
                                                <input th:field="*{recipientLastName}" id="lastname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div th:if="${#fields.hasErrors('recipientFirstName')}" th:errors="*{recipientFirstName}"
                                                     class="alert alert-danger" role="alert">Error Message
                                                </div>
                                                <label for="firstname">Tên:</label>
                                                <input th:field="*{recipientFirstName}" id="firstname" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                                                     class="alert alert-danger" role="alert">Error Message
                                                </div>
                                                <label for="phone">Số điện thoại:</label>
                                                <input th:field="*{phone}" id="phone" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                                     class="alert alert-danger" role="alert">Error Message
                                                </div>
                                                <label for="address">Địa chỉ:</label>
                                                <input th:field="*{address}" id="address" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="note">Ghi chú:</label>
                                                <textarea th:field="*{note}" id="note" type="text" class="form-control" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row-->

                                    <!-- /.row-->
                                </div>
                                <div class="box-footer d-flex justify-content-between"><a th:href="@{/cart}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Quay về giỏ hàng</a>
                                    <button type="submit" class="btn btn-primary">Thanh toán</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- /.col-lg-8-->
                    <div class="col-lg-4">
                        <div id="order-summary" class="card">
                            <div class="card-header">
                                <h3 class="mt-4 mb-4">Tóm tắt đơn hàng</h3>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">Không lo về giá. Miễn phí vận chuyển trên toàn quốc. Đặt ngay!</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Thành tiền</td>
                                            <th>[[${#numbers.formatInteger(session.shoppingCart.total, 4 , 'POINT')}]] VNĐ</th>
                                        </tr>
                                        <tr>
                                            <td>Tiền vận chuyển</td>
                                            <th>Freeship</th>
                                        </tr>
                                        <tr class="total">
                                            <td>Tổng cộng</td>
                                            <th>[[${#numbers.formatInteger(session.shoppingCart.total, 4 , 'POINT')}]] VNĐ</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-3-->
                </div>
            </div>
        </div>
    </div>

<th:block th:replace="fragments/footer :: footer"></th:block>
<th:block th:replace="fragments/footer :: copy_right"></th:block>

<th:block th:replace="fragments/script :: scripts"></th:block>

</body>
</html>