<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: html_head(headTitle = 'Product')"></head>

<body>
<th:block th:replace="fragments/header :: navbar"></th:block>

    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Sản phẩm / [[${#strings.capitalize(currentCatalog)}]]</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <!--
                        *** MENUS AND FILTERS ***
                        _________________________________________________________
                        -->
                        <div class="card sidebar-menu mb-4">
                            <div class="card-header">
                                <h3 class="h4 card-title">LOẠI SẢN PHẨM</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills flex-column category-menu">
                                <th:block th:each="cata : ${catalogList}">
                                    <li>
                                        <a th:href="@{|/product/page/1?catalog=${cata.name}|}" th:classappend="${currentCatalog == cata.name ? 'active' : ''}" class="nav-link">[[${cata.name}]]</a>
                                        <ul class="list-unstyled">
                                        <th:block th:each="brand : ${brandList}">
                                            <li th:if="${#lists.contains(brand.catalogList, cata)}">
                                                <a th:href="@{|/product/page/1?catalog=${cata.name}&brand=${brand.name}|}" class="nav-link" style="text-transform: uppercase !important;">[[${brand.name}]]</a>
                                            </li>
                                        </th:block>
                                        </ul>
                                    </li>
                                </th:block>
                                </ul>
                            </div>
                        </div>
                        <!-- *** MENUS AND FILTERS END ***-->
                        <div class="banner"><img th:src="@{/img/shop-banner.png}" alt="sales 2021" class="img-fluid"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="box">
                            <th:block th:if="${keyword != null}">
                                <h2>Kết quả tìm kiếm cho `[[${keyword}]]`</h2>
                            </th:block>
                            <th:block th:unless="${keyword != null}">
                                <h2>Thương hiệu: [[${currentBrand == null ? 'Tất cả' : #strings.capitalize(currentBrand)}]]</h2>
                            </th:block>
                        </div>
                        <div class="box info-bar">
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-12 col-lg-4 products-showing">Hiển thị <strong>9</strong> trong <strong>[[${totalItems}]]</strong> sản phẩm</div>
                                <div class="col-md-12 col-lg-4 products-number-sort">
                                    <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                        <div class="products-sort-by mt-2 mt-lg-0"><strong>Sort by</strong>
                                            <select name="sort-by" class="form-control">
                                                <option>Price</option>
                                                <option>Name</option>
                                                <option>Sales first</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row products">
<!--                            PRODUCT LIST-->
                            <th:block th:if="${#lists.size(productList) > 0}">
                                <div th:each="product : ${productList}" class="col-lg-4 col-md-6">
                                    <div class="product">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front"><a th:href="@{|/product/details/${product.id}|}"><img th:src="*{'data:image/jpeg;base64,'+{product.image}}" alt="" width="100%" class="img-fluid" style="height: 260px; object-fit: contain;"></a></div>
                                                <div class="back"><a th:href="@{|/product/details/${product.id}|}"><img th:src="*{'data:image/jpeg;base64,'+{product.image}}" alt="" width="100%" class="img-fluid" style="height: 260px; object-fit: contain;"></a></div>
                                            </div>
                                        </div><a href="" class="invisible"><img th:src="*{'data:image/jpeg;base64,'+{product.image}}" width="100%" alt="" class="img-fluid" style="height: 260px; object-fit: contain;"></a>
                                        <div class="text">
                                            <h3 th:text="${product.name}"></h3>
                                            <p class="price">
                                                <del></del>[[${#numbers.formatInteger(product.price, 4 , 'POINT')}]] VNĐ
                                            </p>
                                            <div class="buttons">
                                                <a th:href="@{|/product/details/${product.id}|}" class="btn btn-outline-secondary">Chi tiết</a>
                                                <form th:action="@{/cart/add-product}" method="GET">
                                                    <input type="hidden" th:value="${product.id}" name="id" />
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.text-->
                                    </div>
                                    <!-- /.product            -->
                                </div>
                            </th:block>

<!--                            NO PRODUCT FOUND-->
                            <th:block th:unless="${#lists.size(productList) > 0}">
                                <h4 class="m-auto">Rất tiếc, không tìm thấy sản phẩm phù hợp với lựa chọn của bạn</h4>
                            </th:block>
                        </div>

                        <th:block th:if="${totalPages > 1}" th:with="pageUrlPrefix = '/product/page/',
                                                pageUrlPostFix = '?catalog=' + ${currentCatalog} +
                                                                '&brand=' + ${currentBrand} +
                                                                ${keyword != null ? '&keyword=' + keyword : ''}">
                        <div class="pages">
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                                <ul class="pagination">
                                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                        <a th:href="@{|${pageUrlPrefix + (currentPage - 1) + pageUrlPostFix}|}" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                                    </li>

                                    <th:block th:unless="${totalPages > 6}">
                                        <li th:each="i : ${#numbers.sequence(1, 6)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                                            <a th:href="@{|${pageUrlPrefix + i + pageUrlPostFix}|}" class="page-link">[[${i}]]</a>
                                        </li>
                                    </th:block>

                                    <th:block th:if="${totalPages > 6}">
                                        <th:block th:if="${currentPage <= 3 || currentPage >= totalPages - 2}">
                                            <li th:each="i : ${#numbers.sequence(1, 3)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                                                <a th:href="@{|${pageUrlPrefix + i + pageUrlPostFix}|}" class="page-link">[[${i}]]</a>
                                            </li>
                                            <li class="page-item">
                                                <a th:href="@{|${pageUrlPrefix + 4 + pageUrlPostFix}|}" class="page-link">...</a>
                                            </li>
                                            <li th:each="i : ${#numbers.sequence(totalPages - 2, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                                                <a th:href="@{|${pageUrlPrefix + i + pageUrlPostFix}|}" class="page-link">[[${i}]]</a>
                                            </li>
                                        </th:block>

                                        <th:block th:if="${currentPage > 3 && currentPage < totalPages - 2}">
                                            <li class="page-item">
                                                <a th:href="@{|${pageUrlPrefix + (currentPage - 3) + pageUrlPostFix}|}" class="page-link">...</a>
                                            </li>
                                            <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                                                <a th:href="@{|${pageUrlPrefix + i + pageUrlPostFix}|}" class="page-link">[[${i}]]</a>
                                            </li>
                                            <li class="page-item">
                                                <a th:href="@{|${pageUrlPrefix + (currentPage + 3) + pageUrlPostFix}|}" class="page-link">...</a>
                                            </li>
                                        </th:block>
                                    </th:block>

                                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                        <a th:href="@{|${pageUrlPrefix + (currentPage + 1) + pageUrlPostFix}|}" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        </th:block>
                    </div>
                    <!-- /.col-lg-9-->
                </div>
            </div>
        </div>
    </div>

<th:block th:replace="fragments/footer :: footer"></th:block>
<th:block th:replace="fragments/footer :: copy_right"></th:block>

<th:block th:replace="fragments/script :: scripts"></th:block>

</body>
</html>