<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: html_head(headTitle = 'Register')"></head>

<body>
<th:block th:replace="fragments/header :: navbar"></th:block>

    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Đăng ký</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="box">
                            <h1>Tạo tài khoản</h1></p>
                            <hr>
                            <div th:if="${param.success}" class="col-sm-12 alert alert-success" role="alert">Đăng ký thành công</div>
                            <form th:action="@{/register}" th:object="${user}" method="POST">
                                <div th:if="${uniqueEmailError != null}" th:text="${uniqueEmailError}"
                                     class="alert alert-danger" role="alert">Error Message
                                </div>
                                <div th:if="${uniquePhoneError != null}" th:text="${uniquePhoneError}"
                                     class="alert alert-danger" role="alert">Error Message
                                </div>

                                <div class="form-group">
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                         class="alert alert-danger" role="alert">Error Message
                                    </div>
                                    <label for="email">Email:</label>
                                    <input th:field="*{email}" id="email" type="email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                         class="alert alert-danger" role="alert">Error Message
                                    </div>
                                    <label for="password">Mật khẩu:</label>
                                    <input th:field="*{password}" id="password" type="password" class="form-control" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                             class="alert alert-danger" role="alert">Error Message
                                        </div>
                                        <label for="lastName">Họ:</label>
                                        <input th:field="*{lastName}" id="lastName" type="text" class="form-control" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                             class="alert alert-danger" role="alert">Error Message
                                        </div>
                                        <label for="firstName">Tên:</label>
                                        <input th:field="*{firstName}" id="firstName" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"
                                         class="alert alert-danger" role="alert">Error Message
                                    </div>
                                    <label for="dob">Ngày sinh:</label>
                                    <input th:field="*{dob}" id="dob" type="date" class="form-control" onkeydown="return false" required>                                </div>
                                <div class="form-group">
                                    <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                                         class="col-sm-12 alert alert-danger" role="alert">Error Message
                                    </div>
                                    <label class="px-2">Giới tính: </label>

                                    <input type="radio" th:field="*{gender}" th:value="1" id="male">
                                    <label class="mr-2" for="male">Nam</label>

                                    <input type="radio" th:field="*{gender}" th:value="0" id="female">
                                    <label for="female">Nữ</label>
                                </div>
                                <div class="form-group">
                                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                         class="alert alert-danger" role="alert">Error Message
                                    </div>
                                    <label for="address">Địa chỉ:</label>
                                    <input th:field="*{address}" id="address" type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                                         class="alert alert-danger" role="alert">Error Message
                                    </div>
                                    <label for="phone">Số điện thoại:</label>
                                    <input th:field="*{phone}" id="phone" type="tel" class="form-control" required>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i>Đăng ký</button>
                                    <p class="lead my-0">Đã có tài khoản? <a th:href="@{/login}" class="small">Đăng nhập ngay</a></p>
                                </div>
                            </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<th:block th:replace="fragments/footer :: footer"></th:block>
<th:block th:replace="fragments/footer :: copy_right"></th:block>

<th:block th:replace="fragments/script :: scripts"></th:block>

</body>
</html>