<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="footer">
<!--
    *** FOOTER ***
    _________________________________________________________
    -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <h4 class="mb-3">Liên kết</h4>
                        <ul class="list-unstyled">
                            <li><a th:href="@{/}">Trang chủ</a></li>
                            <li><a th:href="@{/product}">Sản phẩm</a></li>
                            <li><a th:href="@{/cart}">Giỏ hàng</a></li>
                        </ul>
                        <hr>
                        <h4 class="mb-3">Phần người dùng</h4>
                        <ul sec:authorize="isAnonymous()" class="list-unstyled">
                            <li><a th:href="@{/login}">Đăng nhập</a></li>
                            <li><a th:href="@{/register}">Đăng ký</a></li>
                        </ul>
                        <ul sec:authorize="isAuthenticated()" class="list-unstyled">
                            <li><a th:href="@{/invoice/history}">Lịch sửa đặt hàng</a></li>
                        </ul>
                    </div>
                    <!-- /.col-lg-4-->
                    <div class="col-lg-4 col-md-6">
                        <h4 class="mb-3">Tìm thấy chúng tôi tại đây</h4>
                        <p>273 An Dương Vương, <br>Phường 3, Quận 5, Thành phố Hồ Chí Minh<br><strong>Việt nam</strong></p>
                        <hr class="d-block d-md-none">
                    </div>
                    <!-- /.col-lg-3-->
                    <div class="col-lg-4 col-md-6">
                        <h4 class="mb-3">Get the news</h4>
                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control"><span class="input-group-append">
                          <button type="button" class="btn btn-outline-secondary">Subscribe!</button></span>
                            </div>
                            <!-- /input-group-->
                        </form>
                        <hr>
                        <h4 class="mb-3">Stay in touch</h4>
                        <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
                    </div>
                    <!-- /.col-lg-3-->
                </div>
                <!-- /.row-->
            </div>
            <!-- /.container-->
        </div>
        <!-- /#footer-->
        <!-- *** FOOTER END ***-->
    </th:block>

    <th:block th:fragment="copy_right">
        <!--
        *** COPYRIGHT ***
        _________________________________________________________
        -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        <p class="text-center text-lg-left">©2021 Nexus.</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
                            <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END ***-->
    </th:block>
</body>
</html>